/* SMALL MOBILE ADJUSTMENTS (min-width: 420px) */
@media (min-width: 420px) {
  /* Formulários */
  .login-form {
    padding: 3rem 2rem;
  }
  
  /* Footer */
  .footer-bottom {
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
  }
}

/* TABLETS / SMALL DESKTOPS (min-width: 768px) */
@media (min-width: 768px) {
  /* GERAL / SEÇÕES */
  .section-container,
  .footer-content {
    padding: 0 1.5rem;
  }
  
  .section-title {
    font-size: 3rem; 
  }

  /* LAYOUT DE GRADES */
  .products-grid,
  .team-grid {
    grid-template-columns: 1fr 1fr; /* 2 colunas */
    gap: 3rem 2rem;
  }

  /* MENU LATERAL */
  .main-menu-overlay {
      width: 350px;
  }

  .menu-item-link a {
      font-size: 2.5rem; 
  }

  /* HEADER */
  .header-logo {
    width: 150px;
  }

  .main-title {
    padding-left: 0; 
  }

  /* FOOTER */
  .footer-content {
    flex-direction: row;
    justify-content: space-between;
  }
  
  .footer-links-group {
    flex-direction: row;
    gap: 2rem;
  }

  /* SOBRE */
  .about-section {
    padding: 8rem 2rem;
  }
  
  .about-content {
    text-align: left;
  }

  /* CARRINHO */
    .carrinho-main {
      padding: 4rem 2rem;
    }

    .carrinho-main h1 {
      font-size: 3rem;
    }
}

/* LARGE TABLETS / MEDIUM DESKTOPS (min-width: 992px) */
@media (min-width: 992px) {
  .products-grid {
    grid-template-columns: 1fr 1fr 1fr; /* 3 colunas */
  }
  
  .team-grid {
    grid-template-columns: 1fr 1fr 1fr; /* 3 colunas */
  }

  .section-container {
    max-width: 1000px;
  }
  
  /* Footer */
  .footer-links-group {
    gap: 4rem;
  }
}

/* DESKTOPS LARGE (min-width: 1200px) */
@media (min-width: 1200px) {
  .section-container {
    max-width: 1200px;
  }
  
  .products-grid {
    grid-template-columns: repeat(4, 1fr); /* 4 colunas */
  }
  
  .team-grid {
    grid-template-columns: repeat(4, 1fr); /* 4 colunas */
  }
}